#submit{
    -fx-border-color: #42b9f5;
    -fx-background-color: #42b9f5;
    -fx-background-radius:50;
    -fx-border-radius:50;
    -fx-text-fill: #ffffff;

}
#submit:hover{
    -fx-font-weight: bold;
    -fx-background-color: #42b9f5;
    -fx-font-size: 15;
    -fx-background-radius:50;
    -fx-border-radius:50;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(66, 185, 245,0.8), 10, 0, 0, 0);
}
#clear{
    -fx-font-weight: bold;
    -fx-background-color: #ff922b;
    -fx-border-color: #ff922b;
    -fx-font-size: 15;
    -fx-background-radius:50;
    -fx-border-radius:50;
    -fx-text-fill: #ffffff;
}
#clear:hover{
    -fx-border-color: #ff922b;
    -fx-background-color: #ff922b;
    -fx-background-radius:50;
    -fx-border-radius:50;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 146, 43,0.8), 10, 0, 0, 0);
}